version: '3.8'

services:
  migrate:
    image: amacneil/dbmate
    volumes:
      - ./db/migrations:/db/migrations
      - /var/run/postgresql:/var/run/postgresql
    environment:
      DATABASE_URL: ${DATABASE_URL}
      DBMATE_NO_DUMP_SCHEMA: "true"
    command: up

  postgrest:
    image: postgrest/postgrest
    depends_on:
      migrate:
        condition: service_completed_successfully
    ports:
      - "3000:3000"
    volumes:
      - /var/run/postgresql:/var/run/postgresql
    environment:
      PGRST_DB_URI: ${PGRST_DB_URI}
      PGRST_DB_SCHEMA: "public"
      PGRST_DB_ANON_ROLE: "anon"
      PGRST_LOG_LEVEL: "info"

      PGRST_OPENAPI_MODE: "ignore-privileges"
      PGRST_OPENAPI_SECURITY_ACTIVE: "true"
      PGRST_OPENAPI_SERVER_PROXY_URI: "http://localhost:3000"

      PGRST_JWT_ROLE_CLAIM_KEY: '."https://pgrst.oauth.io/role"'
      PGRST_JWT_SECRET: ${PGRST_JWT_SECRET}
      PGRST_JWT_SECRET_IS_BASE64: "false"

  openapi-ui:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./swagger.html:/usr/share/nginx/html/swagger.html
      - ./scalar.html:/usr/share/nginx/html/scalar.html
