version: '3.8'

services:
  db:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sds-postgrest
    ports:
      - "5435:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    image: amacneil/dbmate
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./db/migrations:/db/migrations
    environment:
      DATABASE_URL: "postgres://postgres:password@db:5432/sds-postgrest?sslmode=disable"
      DBMATE_NO_DUMP_SCHEMA: "true"
    command: up

  postgrest:
    image: postgrest/postgrest
    depends_on:
      migrate:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      PGRST_DB_URI: "postgres://authenticator:password@db:5432/sds-postgrest"
      PGRST_DB_SCHEMA: "public"
      PGRST_DB_ANON_ROLE: "anon"
      PGRST_LOG_LEVEL: "info"

      PGRST_OPENAPI_MODE: "ignore-privileges"
      PGRST_OPENAPI_SECURITY_ACTIVE: "true"
      PGRST_OPENAPI_SERVER_PROXY_URI: "http://localhost:3000"

      PGRST_JWT_ROLE_CLAIM_KEY: '."https://pgrst.oauth.io/role"'
      PGRST_JWT_SECRET: ${PGRST_JWT_SECRET}
      PGRST_JWT_SECRET_IS_BASE64: "false"

  openapi-ui:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./swagger.html:/usr/share/nginx/html/swagger.html
      - ./scalar.html:/usr/share/nginx/html/scalar.html

volumes:
  db_data:
